body {
  padding: 0px;
  margin: 0px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 6px 4% 6px 4%;
  font-size: 18px;
  background-color: #0f171e;
  background-image: linear-gradient(180deg, #51657e 0, rgba(63, 91, 128, 0.85));
  color: rgba(230, 242, 253, 0.9);
  font-weight: 600;
}
.options {
  display: flex;
  justify-content: space-between;
}
.options > h3 {
  padding-left: 20px;
  padding-right: 20px;
}
.options > h3 :hover {
  color: rgb(0, 255, 0);
}
h3 > a {
  text-decoration: none;
  color: rgba(242, 244, 246, 0.9);
}
#searchFood {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#searchFood > input {
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  width: 300px;
}
#searchFood > button {
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}
.cont {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 4%;
  margin-top: 30px;
  margin-left: 8%;
  padding: 10px;
}
img {
  width: 220px;
  margin-left: 2%;
}
h1 {
  margin-left: 2%;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 4%;
  margin-top: 30px;
  margin-left: 8%;
  padding: 10px;
}
